# Sanal Ortam ve Büyük Dosyalar
env/
venv/
.idea

# Veri Dosyaları
data/raw/
data/processed/

# MLflow
mlruns/
mlartifacts/

# Model Dosyaları
models/
*.pkl
*.so
*.dll

# IDE ve Sistem Dosyaları
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Python Derleme Artıkları
__pycache__/
*.py[cod]

# Log Dosyaları ve Geçici Dosyalar
*.log
*.tmp
logs/

# Node.js (Frontend) Dosyaları
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Çevresel Değişkenler ve Diğer Hassas Dosyalar
.env
.env.local
.picture_for_readme.jpeg
